@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/icon/icon.css";

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fc2d85 !important;
}
